<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>JP-OCR</title>
        <link rel="shortcut icon" href="static/favicon.ico" type="image/vnd.microsoft.icon">
        <link rel="stylesheet" href="static/index.css" type="text/css">
        <script src="static/index.js" type="text/javascript"></script>
    </head>
    <body>
        <video id="video-stream" autoplay></video>
        <p id="positions"></p>
        <button onclick="callAPI()">OCR!</button>
        <p></p>
        <p id="text-output">Empty</p> 
    </body>
</html>
