body {
    background-color: #7180AC;
    text-align: center;
}

#video-stream {
    object-fit: fill;
    width: 960px;
    height: 600px;
}

button {
    cursor: pointer;
}

#text-output {
    background-color: #fcffeb;
    border-radius: 10px;
    display: inline;
    font-size: 36px;
    padding: 10px;
}
